*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  font-family: 'Avantgarde', sans-serif
}
.top{
	height: 100vh;
	width: 100%;
	background-color: #CEC6C4;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-style:  courier new;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #87AFC7;
}

.btn{
	background-color:#87AFC7;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.Introduction{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

h4{
	color: #87AFC7;
	letter-spacing: 2px;
	font-size: 20px;
}

.container{
		width: 70%;
		padding: 20px;
		margin: auto;	 
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	

	.box1{
		width: 335px;
		margin: auto;
		box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
		transition: 1s;

	}
	.box1 img{
		display: inline-block	;
		width:100%;
		border-radius: 5px;
	}
	.box1:hover{
		transform: scale(1.3);
		z-index: 2;
	}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #CEC6C4;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #8F8D8C;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.fam{
	width: 100%;
	padding: 100px 0px;
	background-color: #CEC6C4;
}
.fam  p{
	color: #8F8D8C;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.
button{
	background-color:#CEC6C4;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.slider-frame{
      overflow: hidden;
      height: 500px;
      width: 900px;
      margin-left: 600px;
      margin-top: 20px;
  }
 

.hobbies{
	background:#CEC6C4;
	width: 100%;
	padding: 100px 0px;
}
.skills{
	background:#CEC6C4;
	width: 100%;
	padding: 100px 0px;
}
.family{
	background:#CEC6C4;
	width: 100%;
	padding: 100px 0px;
	align-items: center;
	margin: auto;
}
.family img{
	height: auto;
	width: 430px;
}
.strenghts{
	background-color:#CEC6C4;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 100px 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.title h2{
	color:#87AFC7;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 700px;
}
.card{
	height: 600px;
	width: 335px;
	padding: 20px 35px;
	background: #C4B6B3;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;

		box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
		transition: 1s;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: antiquewhite;

}
.card:hover{
		transform: scale(1.3);
		z-index: 2;
	}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#87AFC7;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #87AFC7;
	cursor: pointer;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #CEC6C4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}




.navlist{
	display: flex;
}
.navlist a{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
.navlist a:hover{
	color: #87AFC7;
}
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}